@media (max-width:780px) {
    
body{
    width: 100%;
    display: flexbox;
}
header{
    background-image: url(img/header.png);
    background-size: cover;
    width: 99%;
    height: 200px;
}
nav{
 display: grid;
 grid-template-columns: repeat(3,1fr);
justify-content: space-between;
 margin: 10px;
padding-top: 1rem;
}
.logo-a{
    display: none;
}



input{
    height: 1.6rem;
    width: 5rem;
    margin-top: -2rem;
    border-radius: 4px;
}

input::placeholder {
  font-size: 10px;

}


.No-matter{
    margin: .5rem 0rem 0rem 4rem;
     .imgs{
        width: 20px;
        height: 6px;
        margin-bottom: -.1rem;
    }
    & h2{
        font-size: 8px;
    }
    .where{
     width: 40%;
        height: 18px;
    }
}
.group{
    display: flex;
    & img{
        height: .5rem; 
           margin-top: -.1rem; 
    }
    & p{
         
       
   margin-top: -.1rem;
        font-size: 3px;
    }

}

.pertner img{
    height: 40px;
}

.category-div{
    display: grid;
grid-template-columns: 1fr;
}
.Honeymoon{
    display: grid;
    grid-template-columns:1fr;
   margin-left: -2rem;
}
.Fastthetasym{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: -4rem;

}
.illus img{
    height: 400px;
    width: 500px;
    margin-left: -2rem;
    
}
.lets img{
      margin-left: -2rem;
    
    height: 100px;
    width: 100%;
}

.Promotion{
    display: grid;
    grid-template-columns: 1fr;
    margin: 4rem 2rem;

    & span{
              font-size: 10px; 
    }

    & h2{
        font-weight: 700;
        font-size: 30px;
       
    }
    & p{
margin-bottom: 1rem;
          font-size: 10px;
    }
}
.imgas{
     margin: 2rem .1rem;
     width: 40px;
     
}

.imgas img{
   
    height: 80px;
    width: 80px;
  gap: 10px;
}
.tion img{
    height: 300px;
    margin-top: .1rem;
    margin-left: 2rem;
}
.explore{
    display: grid;
    grid-template-columns: 1fr;
}
.img1 img{
    width: 100%;
  height: 160px;
}
.img11{
  
    margin-top: -7rem;

    & span{
        font-weight: 500;
    }
    h1{
        font-weight: 700;
        font-size: 2rem;
        margin: -.01rem;
    }

    & input{
        height: 20px;
margin-top: .8rem;
margin-bottom: 1rem;
    }
}
.trendy h1{
    font-family: "Volkhov";
    font-weight: 700;
    font-size: 2rem;
    margin-top: .6rem;
}
.boxstore{
    display: grid;
    grid-template-columns: 1fr;
margin: 2rem;
margin-left: 6rem;
  

}
.store1 {
  margin-bottom: 3rem;
}

.immg img{
    width: 100px;
    height: 80px;
    margin-top: -2rem;
}
.store2{
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: #7D7D7D;
    margin-top: -1.5rem;
    font-size: .8rem;
 
}
.day1{
      font-family: "Poppins", sans-serif;
        color: #7D7D7D;
}
.day2{
    margin-left: -3.8rem;
}
.store3{
& h1{
   
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    
}
}
.icon{margin-top: 1rem;
    font-size: 8px;
    color:#FFBA0A;
    margin-left: -1rem;
}
.store4{

        & h1{
                font-family: "Poppins", sans-serif;
                font-size: 24px;
              ;
        }
        & del{
            color: #5E6282;
            padding-top: 1.2rem  ;
            font-size: 14px;
        }
}
.boxstore p{

       font-size: 8px;
       line-height: 1.8;
       margin-top:-.7rem;
}
.input1 {
 height: 30px;
}

.Promotion1{
    width: 100%;
    height: 350px;
}


.otion span{
        font-weight: 600;   
        padding-top: -2rem;
}
.otion h2{
    font-size: 1.4rem;
}
.imga img{
height: 8rem;
width: 18rem;
margin-top: -1rem;
}
.immma img{
    height: 6rem;
    width: 7rem;
    margin-top: -5.4rem;
}

.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: .1rem;
}





.footer1{
    margin-top: 1rem;
    & img{
        height: 2.5rem;
    }
    & p{
           margin-top: -.1rem;
           font-size: 6px;
    }
}
.fooer1-icon i{
   font-size: .6rem;
}
.footer2  h2{
    font-size: .8rem;
    padding-right: 1rem;
}

.footer22 a{
    line-height: .1;
   font-size: .6rem;
}
.subscribe{
    display: flex;
    margin-left: -8rem;    margin-bottom: -2rem;
}
.subscribe input{
    height: 1rem;
    border-radius: 2px;
    width: 5rem;
    
    margin-top: .1rem;

}
.subscribe input::placeholder{
margin-top: 2rem;
    font-size: 8px;

    padding:.2rem;
    padding-top: .8rem;
  padding-left: -.8rem;


}
.subscribe button{
height: 1.1rem;
    width: 4rem;
    font-size: 8px;
    border-radius: 2px;
    padding: -.5rem;
   
}
.footer2 p{
     font-family: "Manrope", sans-serif; 
     font-size: 8px;
     width: 6rem;
     margin-top: 2.2rem
}


































.copy p{
      margin: 1rem;
      font-weight: 600;
      font-size: .8rem;
}



}